.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  border: var(--border-color);
  border-radius: 8px;
}

.title {

}

.type {

}
