.block {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  margin: 10px;
  padding: 5px;
}

.active {
  background-color: #37be11;
}

.tools {
  display: flex;
  flex-direction: row;
}
