.common {
  display: flex;
  flex-direction: column;
}

.box {
  composes: common;
  margin: 0;
  padding: 0;
  align-items: center;
}

.items {
  composes: common;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  overflow-x: auto;
}

.items::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.items::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 3px;
}

.items::-webkit-scrollbar-track {
  background-color: #fbfbfb;
}
