.common {
  display: flex;
  flex-direction: row;
}

.item {
  composes: common;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 1px;
  padding: 5px;
  width: auto;
  opacity: 0.75;
  transition: opacity 0.5s ease;
}

.item:hover {
  background-color: #f6f6f6;
  opacity: 1;
}

.position {
  composes: common;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 5px;
  box-sizing: border-box;
  min-width: 40px;
  font-size: 14px;
}

.title {
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  max-width: 150px;
  width: auto;
}

.data {
  composes: common;
  justify-content: start;
  align-items: center;
}

.value {
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  max-width: 100px;
  width: auto;
}
