.common {
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 100%;
}

.sidebar_header {
  composes: common;
  justify-content: end;
  margin: 0;
}

.buttons {
  composes: common;
  justify-content: start;
  align-items: center;
  margin: 0 0 0 5px;
}
