.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  cursor: pointer;
  margin: 0 0 0 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  opacity: 0.75;
  transition: opacity 0.5s ease;
}

.button:hover {
  background-color: #e1e1e1;
  opacity: 1;
}
