.common {
  display: flex;
  flex-direction: row;
  font-weight: 600;
}

.header {
  composes: common;
  margin: 10px 5px;
  padding: 5px;
}

.title {
  composes: common;
  margin: 0;
  padding: 5px 10px;
  font-size: 18px;
  min-width: 300px;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
}

.title:hover {
  background-color: #e1e1e1;
}
