.common {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layout {
  composes: common;
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  height: 100%;
}

.container {
  composes: common;
  min-width: 300px;
  max-width: 320px;
  width: 100%;
  min-height: 320px;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}

.title {
  margin-bottom: 40px;
}
