.common {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layout {
  composes: common;
  width: 100vw;
  height: 100vh;
}

.container {
  composes: common;
  max-width: 300px;
  min-height: 300px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.title {
  margin-bottom: 30px;
}

.form {
  composes: common;
  margin-bottom: 30px;
}

.footer {

}
