.common {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  composes: common;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  margin: 0;
  padding: 0 0 5px;
  font-size: 14px;
}

.link {
  color: cornflowerblue;
  text-decoration: none;
  opacity: 0.75;
  transition: opacity 0.5s ease;
  margin: 0;
  padding: 0;
}

.link:hover {
  opacity: 1;
}
