.common {
  display: flex;
  flex-direction: row;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.header {
  composes: common;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  font-weight: 500;
}

.title {
  composes: common;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 14px;
  min-width: 300px;
  max-width: 100%;
  min-height: 30px;
  border: 0;
  border-radius: 4px;
}

.title:hover {
  background-color: #e1e1e1;
}
