.common {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  max-width: 100px;
  width: auto;
  max-width: 50%;
  width: 100%;
  min-height: 200px;
  border-radius: 8px;
}

.values {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.value1 {
  composes: common;
  background-color: aquamarine;
}

.value2 {
  composes: common;
  background-color: bisque;
}