html {
  --header-bg-color: #f0f8ff;
  --sidebar-bg-color: #f6f6f6;
  --color: #000;
}

html[data-theme="dark"] {
  --header-bg-color: #1b1b1e;
  --sidebar-bg-color: #1b1b1e;
  --color: #d6d6d6;
}

.root {
  --width-none: 100%;
  --width-sm: 640px;
  --width-md: 768px;
  --width-lg: 1024px;
  --width-xl: 1280px;
  --width-2xl: 1536px;
  --background-color: #fff;
  --background-overlay: rgb(0 0 0 / 60%);
  /* --color: #000; */

  height: 100vh;
  color: var(--color);
  background-color: var(--background-color);
  font-family: Inter, "Helvetica Neue", Arial, sans-serif;
}
