html {
  --background-color: #fff;
  --header-bg-color: #f0f8ff;
  --sidebar-bg-color: #f6f6f6;
  --border-color: #ccc;
  --color: #000;
  --error-color: indianred;
  --item-active: #b8b8b8;
  --title-color-hover: #e1e1e1;
}

html[data-theme="dark"] {
  --background-color: #202124;
  --header-bg-color: #202124;
  --sidebar-bg-color: #1b1b1e;
  --border-color: #2e2e2e;
  --color: #626265;
  --error-color: indianred;
  --item-active: #2d2e31;
  --title-color-hover: #2d2e31;
}

.root {
  --width-none: 100%;
  --width-sm: 640px;
  --width-md: 768px;
  --width-lg: 1024px;
  --width-xl: 1280px;
  --width-2xl: 1536px;
  --background-overlay: rgb(0 0 0 / 60%);
  
  min-height: 100vh;
  height: 100%;
  color: var(--color);
  background-color: var(--background-color);
  font-family: Inter, "Helvetica Neue", Arial, sans-serif;
}
